// BLOG
// - - - - - - - - - - - - -

.tr-blog-header {
  text-align: center;
  
  align-items: center;
  display: flex;
  justify-content: space-between;
  
  .title {
    flex: 1;
  }
  
  h1,
  h4,
  h5 {
    margin: 0;
  }
  
  h4,
  h5 {
    font-weight: 300;
  }
  
  h4,
  h5 {
    font-size: rem-calc(16);
  }
  
  .image {
    flex: 0 0 33.3333%;
  }
  
  img {
    border-radius: 100%;
  }
}

.tr-blog-content {
  p {
    line-height: 2;
  }
}

.tr-blog-footer {
}

.tr-blog-tags {
  text-align: center;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  display: flex;
  justify-content: center;
  
  a {
    @include button();
    @include button-color($gray);
    @include button-size(rem-calc(10));
    
    margin: 0 ($gutter-width / 4);
  }
}

// ALTERNATE DISPLAYS
// - - - - - - - - - - - - -

// SMALL

@media #{$small-only} {
  .tr-blog-header {
    flex-direction: column-reverse;
    
    .image {
      width: 60vw;
      
      flex: 1;
    }
  }
}

// MEDIUM-UP

@media #{$medium-up} {
}

// LARGE-UP

@media #{$large-up} {
}
