// CALENDAR MONTH
// - - - - - - - - - - - - -

.tr-calendar-month {
  text-align: center;
  
  outline: none;
}

.tr-calendar-month-header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  
  h1 {
    font-weight: 300;
    
    margin: 0;
  }
  
  i {
    padding: $gutter-width;
    
    cursor: pointer;
    
    &.slick-disabled {
      color: $gray-light;
      
      cursor: not-allowed;
    }
  }
}

// CALENDAR DAYS / WEEKS
// - - - - - - - - - - - - -

.tr-calendar-weeks {
  display: flex;
  flex-wrap: wrap;
}

.tr-calendar-day {
  border-bottom: 1px solid $gray;
  color: $gray-dark;
  font-weight: 300;
  
  flex: 0 0 calc(100% / 7);
  
  @include padding();
  
  &.name {
    background: $black-light;
    border: none;
    color: $white;
    font-weight: bolder;
  }
  
  &.blank {
    border-bottom: none;
  }
  
  &.event {
	  background: $brand-primary;
	  @include border($color: darken($brand-primary, 12%), $width: 1px);
    color: $white;
    font-weight: bolder;
    
    cursor: pointer;
    
    @include transition();
    
    &:hover {
      background: lighten($brand-primary, 25%);
      border-color: $brand-primary;
      color: $brand-primary;
    }
    
    &.nt-live {
	    background: $yellow;
	    border-color: darken($yellow, 12%);
	    
	    &:hover {
		    background: lighten($yellow, 45%);
		    border-color: $yellow;
		    color: $yellow;
	    }
    }
    
    &.wild-card {
	    background: $purple;
	    border-color: darken($purple, 12%);
	    
	    &:hover {
		    background: lighten($purple, 45%);
		    border-color: $purple;
		    color: $purple;
	    }
    }
    
    &.bloody-sunday {
	    background: $red;
	    border-color: darken($red, 12%);
	    
	    &:hover {
		    background: lighten($red, 45%);
		    border-color: $red;
		    color: $red;
	    }
    }
    
    &.tr-event {
	    background: $blue;
	    border-color: darken($blue, 12%);
	    
	    &:hover {
		    background: lighten($blue, 45%);
		    border-color: $blue;
		    color: $blue;
	    }
    }
    
    &.main-stage {
	    background: $orange;
	    border-color: darken($orange, 12%);
	    
	    &:hover {
		    background: lighten($brand-primary, 45%);
		    border-color: $orange;
		    color: $orange;
	    }
    }
  }
}

// CALENDAR DISPLAY
// - - - - - - - - - - - - -

.tr-calendar-display {
  @extend .tr-container;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  h3 {
    text-align: center;
    
    width: 100%;
    
    .subheader {
      font-weight: lighter;
    }
  }
  
  .button {
    margin: ($gutter-width / 4);
  }
}

// CALENDAR LOADING
// - - - - - - - - - - - - -

.tr-calendar-loading {
  font-family: $header-font-family;
  font-size: rem-calc(24);
  font-weight: lighter;
  text-align: center;
}

// ALTERNATE DISPLAYS
// - - - - - - - - - - - - -

// SMALL

@media #{$small-only} {
}

// MEDIUM-UP

@media #{$medium-up} {
  .tr-calendar-day {
    padding: $gutter-width;
    
    &.name {
      @include padding();
    }
  }
}

// LARGE-UP

@media #{$large-up} {

}
