// HOME
// - - - - - - - - - - - - -

.tr-home-show-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  @extend .tr-container;
}

.tr-home-blog {
  @include border($black-light, top);
  
  padding: ($gutter-width * 2) ($gutter-width / 2);
  
  @extend .tr-container;
}

.tr-home-calendar {
  @include border($side: top);
  
  padding: ($gutter-width * 2) ($gutter-width / 2);
  
  @extend .tr-container;
}

// ALTERNATE DISPLAYS
// - - - - - - - - - - - - -

// SMALL

@media #{$small-only} {
  .tr-home-container {
    display: flex;
    flex-direction: column;
  }
  
  .tr-home-show-cards {
    padding: $gutter-width 0;
    
    order: 1;
  }
  
  .tr-home-calendar {
    order: 1;
  }
  
  .tr-home-blog {
    order: 3;
  }
}

// MEDIUM-UP

@media #{$medium-up} {
  .tr-home-show-cards {
    padding: ($gutter-width * 3) 0;
  }
}

// LARGE-UP

@media #{$large-up} {
  .tr-home-show-cards {
    padding: ($gutter-width * 6) 0;
  }
}
