@import 'svgs';

// PAGE BANNER
// - - - - - - - - - - - - -

.tr-page-banner {
  background: $black-light;
  
  > .tr-container {
    @include padding();
    
    align-items: center;
    display: flex;
  }
  
  svg {
    max-height: 100%;
    
    flex: 1 1 60%;
  }
}

.tr-page-banner-header {
  color: $white;
  text-align: center;
  
  @include padding();
  
  flex: 1 1 40%;
  
  h2 {
    font-size: rem-calc(32);
    font-weight: 300;
    line-height: 1.4;
    
    margin: 0;
  }
  
  h5 {
    font-size: rem-calc(16);
    font-weight: 300;
    line-height: 2.8;
    
    margin: 0;
  }
}

.tr-page-banner-buttons {
  display: flex;
  flex-direction: column;
  
  .button {
    margin: $gutter-width / 2;
    
    flex: 1;
  }
}

.tr-page-calendar {
  padding: ($gutter-width * 2) ($gutter-width / 2);
  
  @extend .tr-container;
}

// PAGE CONTENT
// - - - - - - - - - - - - -

.tr-page-container {
  @include border($orange);
}

.tr-page-article {
  @include border($gray-dark);
  
  &:last-child {
    border: none;
  }
  
  .tr-blog-header,
  .tr-blog-content,
  .tr-blog-footer {
    @extend .tr-container;
    
    padding: ($gutter-width * 2) ($gutter-width / 2);
  }
}

.tr-page-title {
  @include border($black-light);
  font-size: rem-calc(40);
  font-weight: lighter;
  text-align: center;
  
  margin: 0;
  @include padding();
  width: 100%;
}

.tr-section-title {
  margin: 0;
}

// SHOW CARDS
// - - - - - - - - - - - - -

.tr-page-show-cards {
  margin: 0 ($gutter-width / -2);
  padding: ($gutter-width * 2) 0;
  
  display: flex;
  flex-wrap: wrap;
}

// ON STAGE PAGE
// - - - - - - - - - - - - -

.tr-on-stage-show-cards {
  @extend .tr-container;
  
  padding: $gutter-width ($gutter-width / 2);
  
  &.nt-live {
    .tr-section-title {
      a {
        color: $yellow;
        
        &:hover,
        &:focus {
          color: darken($yellow, 8%);
        }
      }
    }
  }
  
  &.wild-card {
    .tr-section-title {
      a {
        color: $purple;
        
        &:hover,
        &:focus {
          color: darken($purple, 8%);
        }
      }
    }
  }
  
  &.bloody-sunday {
    .tr-section-title {
      a {
        color: $red;
        
        &:hover,
        &:focus {
          color: darken($red, 8%);
        }
      }
    }
  }
}

.tr-pagination {
  list-style: none;
  
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  li {
    @include padding();
    
    &.current {
      a {
        @include button-color($gray-light);
      }
    }
  }
  
  a {
    @include button($orange, rem-calc(10));
  }
}


// ERROR PAGE
// - - - - - - - - - - - - -

.tr-404-options {
  list-style: none;
  
  align-items: center;
  display: flex;
  justify-content: space-around;
}

// ALTERNATE DISPLAYS
// - - - - - - - - - - - - -

// SMALL

@media #{$small-only} {
  .tr-page-banner {
    .tr-container {
      align-items: stretch;
      flex-direction: column-reverse;
    }
    
    svg {
      max-height: 33vh;
      
      flex: 1 1 auto;
    }
  }
  
  .tr-page-banner-header {
    padding: 0;
    
    flex: 1 1 auto;
    
    h2,
    h5 {
      display: none;
    }
  }
  
  .tr-page-banner-buttons {
    flex-direction: row;
  }
  
  .tr-show-card {
    margin: $gutter-width / 2;
    
    flex: 1;
  }
}

// MEDIUM-UP

@media #{$medium-up} {
}

// LARGE-UP

@media #{$large-up} {
  .tr-page-banner-buttons {
    flex-direction: row;
  }
}
