@import 'svgs';

// PAGE BANNER
// - - - - - - - - - - - - -

.tr-page-banner {
  background: $black-light;
  
  > .tr-container {
    @include padding();
    
    align-items: center;
    display: flex;
  }
  
  svg {
    max-height: 100%;
    
    flex: 1 1 60%;
  }
}

.tr-page-banner-header {
  color: $white;
  text-align: center;
  
  @include padding();
  
  flex: 1 1 40%;
  
  h2,
  h5,
  h6 {
    line-height: 1.4;
    
    margin: 0;
  }
  
  h2 {
    font-size: rem-calc(40);
    font-weight: 400;
  }
  
  h5 {
    font-size: rem-calc(26);
    font-weight: 100;
  }
  
  h6 {
	  font-size: rem-calc(22);
    font-weight: 100;
  }
  
  span {
	  font-size: 60%;
  }
}

.tr-page-banner-buttons {
  display: flex;
  flex-direction: column;
  
  .button {
    margin: $gutter-width / 2;
    
    flex: 1;
  }
}

.tr-page-calendar {
  padding: ($gutter-width * 2) ($gutter-width / 2);
  
  @extend .tr-container;
}

// PAGE CONTENT
// - - - - - - - - - - - - -

.tr-page-container {
  @include border($gray-dark);
}

.tr-page-article {
  @include border($gray-dark);
  
  &:last-child {
    border: none;
  }
  
  .tr-blog-header,
  .tr-blog-content,
  .tr-page-content,
  .tr-blog-footer {
    @extend .tr-container;
    
    padding: ($gutter-width * 2) ($gutter-width / 2);
  }
}

.tr-page-title {
  @include border($black-light);
  font-size: rem-calc(40);
  font-weight: lighter;
  text-align: center;
  
  margin: 0;
  @include padding();
  width: 100%;
  
  &.show {
    border: none;
  }
}

.tr-section-title {
  margin: 0;
}

.tr-page-secondary-title {
	font-size: rem-calc(28);
	font-weight: 300;
	text-align: center;
	
	@include border();
}

.tr-page-tertiary-title {
	font-weight: 100;
	text-align: center;
}

// SHOW CARDS
// - - - - - - - - - - - - -

.tr-page-show-cards,
.tr-page-show-cards-small {
  margin: 0 ($gutter-width / -2);
  padding: ($gutter-width * 2) 0;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tr-page-show-cards-small {
	.tr-show-card {
		min-width: rem-calc(90);
		flex-basis: calc((100% / 5) - #{$gutter-width});
		
	  @media #{$medium-only} {
		  flex-basis: calc((100% / 3) - #{$gutter-width});
	  }
	  
	  @media #{$small-only} {
		  flex-basis: calc((100% / 2) - #{$gutter-width});
	  }
	}
}

// ON STAGE PAGE
// - - - - - - - - - - - - -

.tr-on-stage-show-cards-header {
	font-size: rem-calc(24);
	text-align: center;
}

.tr-on-stage-menu {
}

.tr-on-stage-show-cards {
  @extend .tr-container;
  
  padding: $gutter-width ($gutter-width / 2);
  
  &.hi-def-screening {
    .tr-section-title {
      a {
        color: $yellow;
        
        &:hover,
        &:focus {
          color: darken($yellow, 8%);
        }
      }
    }
  }
  
  &.wild-card {
    .tr-section-title {
      a {
        color: $purple;
        
        &:hover,
        &:focus {
          color: darken($purple, 8%);
        }
      }
    }
  }
  
  &.bloody-sunday {
    .tr-section-title {
      a {
        color: $red;
        
        &:hover,
        &:focus {
          color: darken($red, 8%);
        }
      }
    }
  }
  
  &.tr-event {
    .tr-section-title {
      a {
        color: $blue;
        
        &:hover,
        &:focus {
          color: darken($blue, 8%);
        }
      }
    }
  }
}

.tr-on-stage-content,
.tr-show-content {
  @extend .tr-container;
}

.tr-on-stage-post {
  @include border($gray-dark);
}

// SHOW PAGE
// - - - - - - - - - - - - -

.tr-show-details {
  @include border();
  
  padding: ($gutter-width * 2) 0;
  
  display: flex;
  justify-content: center;
  
  &.hi-def-screening {@include border($yellow)}
  &.wild-card {@include border($purple)}
  &.bloody-sunday {@include border($red)}
  &.tr-event {@include border($blue)}
}

.tr-show-detail {
  text-align: center;
  
  @include padding();
  width: 25%;
  
  h3,
  h5 {
    margin: 0;
  }
  
  h3 {
    font-size: rem-calc(24);
  }
  
  h5 {
    font-size: rem-calc(18);
    font-weight: lighter;
  }
}

.tr-show-image {
  img {
    height: auto;
    margin: 0 auto;
    width: auto;
  }
}

.tr-show-content {
	@include padding();
}

.tr-show-runtime {
	text-align: center;
	
	@extend .tr-container;
	
	padding: ($gutter-width / 2);
	width: 100%;
	
	h5 {
	  font-size: rem-calc(20);

	  margin: 0;
	}
}

.tr-show-artists {
  @include border($gray-light);
}

.tr-show-artists,
.tr-show-media {
	@extend .tr-container;
	
	padding: ($gutter-width * 2) ($gutter-width / 2);
	
	.tr-section-title {
	  font-size: rem-calc(24);
	  font-weight: lighter;
	  text-align: center;
	  
	  margin: ($gutter-width * 2) 0 0;
	  width: 100%;
	}
}

.tr-show-creators,
.tr-show-cast,
.tr-show-creative {
  ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    li {
      @include show-card(5, 160);
      
      &.company-member {@include show-card-color($orange)}
      &.guest-artist {@include show-card-color($gray-dark)}
    }
      
    span {
      font-weight: lighter;
    }
  }
}

.tr-show-creators {
	ul li {
		flex-basis: calc((100% / 3) - #{$gutter-width});
	}
}

.tr-show-media {
  padding-top: 0;
}

// COMPANY PAGE
// - - - - - - - - - - - - -

.tr-company-members {
	ul {
		margin: 0;
		padding: 0;
		
		list-style: none;
		
		display: flex;
		flex-wrap: wrap;
	}
	
	li {
		@include show-card(5, 120);
	}
}

.tr-page-content.company-member {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.tr-company-member-image {
	@include border($side: top);
	
	margin: 0 0 ($gutter-width / 2) ($gutter-width / 2);
	max-width: rem-calc(200);
	
	float: right;
}

.tr-company-member-history {
  @extend .tr-container;
  
  padding: ($gutter-width * 2) ($gutter-width / 2);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tr-company-member-section-title {
  font-size: rem-calc(24);
  font-weight: lighter;
  text-align: center;
  
  margin: 0;
  width: 100%;
}

.tr-company-member-show {
	@include show-card(5, 160, $gray-dark);
}

.tr-company-member-show-content {
  font-size: rem-calc(12);
  
  @include padding();
  
  h2 {
    font-size: rem-calc(18);
    
    margin: 0;
  }
}

// PAGINATION
// - - - - - - - - - - - - -

.tr-pagination {
  list-style: none;
  
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  li {
    @include padding();
    
    &.current {
      a {
        @include button-color($gray-light);
      }
    }
  }
  
  a {
    @include button($orange, rem-calc(10));
  }
}


// ERROR PAGE
// - - - - - - - - - - - - -

.tr-404-options {
  list-style: none;
  
  align-items: center;
  display: flex;
  justify-content: space-around;
}

// ALTERNATE DISPLAYS
// - - - - - - - - - - - - -

// SMALL

@media #{$small-only} {
  .tr-page-banner {
    .tr-container {
      align-items: stretch;
      flex-direction: column-reverse;
    }
    
    svg {
      max-height: 33vh;
      
      flex: 1 1 auto;
    }
  }
  
  .tr-page-banner-header {
    padding: 0;
    
    flex: 1 1 auto;

    h5,
    h6 {
      display: none;
    }
  }
  
  .tr-page-banner-buttons {
    flex-direction: row;
  }
  
  .tr-show-card {
    margin: $gutter-width / 2;
  }
  
  .tr-blog-header,
  .tr-blog-content,
  .tr-page-content,
  .tr-blog-footer {
	  padding: $gutter-width / 2;
  }
  
  .tr-page-show-cards {
	  padding: 0;
  }
  
  .tr-on-stage-menu {
	  text-align: center;
	  
	  display: block;
  }
  
	// SHOW PAGE
	
	.tr-show-details {
  	flex-wrap: wrap;
	}
	
	.tr-show-detail {
  	width: 50%;
  	
  	h3 {
    	font-size: rem-calc(20);
  	}
  	
  	h5 {
    	font-size: rem-calc(14);
  	}
	}
	
	// COMPANY PAGE
	
	.tr-company-members {
		li {
			flex-basis: calc((100% / 2) - #{$gutter-width});
		}
	}
	
	.tr-company-member-image {
		margin: 0 auto;
		
		float: none;
	}
	
	.tr-company-member-show {
		flex-basis: calc((100% / 2) - #{$gutter-width});
	}
	
	.tr-company-member-show-image {
		display: none;
	}
	
	// SHOW PAGE
	
	.tr-show-creators {
  	ul li {
    	flex-basis: calc(100% - #{$gutter-width});
    }
	}
	
	.tr-show-cast,
	.tr-show-creative {
		ul li {
			flex-basis: calc((100% / 2) - #{$gutter-width});
		}
	}
}

// MEDIUM-ONLY

@media #{$medium-only} {
	// SHOW PAGE
	
	.tr-show-details {
  	flex-wrap: wrap;
	}
	
	.tr-show-detail {
  	h3 {
    	font-size: rem-calc(20);
  	}
  	
  	h5 {
    	font-size: rem-calc(14);
  	}
	}
	
	// COMPANY PAGE
	
	.tr-company-members {
		li {
			flex-basis: calc((100% / 4) - #{$gutter-width});
		}
	}
	
	.tr-company-member-show {
		flex-basis: calc((100% / 4) - #{$gutter-width});
	}
	
	// SHOW PAGE
	
	.tr-show-creators {
  	ul li {
    	flex-basis: calc((100% / 2) - #{$gutter-width});
    }
	}
	
	.tr-show-cast,
	.tr-show-creative {
		ul li {
			flex-basis: calc((100% / 3) - #{$gutter-width});
		}
	}
}

// LARGE-UP

@media #{$large-up} {
  .tr-page-banner-buttons {
    flex-direction: row;
  }
}
