// SHOW CARDS
// - - - - - - - - - - - - -

@mixin show-card-base() {
  box-shadow: 0 0 8px 0 rgba($gray, .8);
  text-align: center;
  
  margin: $gutter-width / 2;
  min-width: rem-calc(300);
  
  @include transition();
  
  flex: 0 0 calc((100% / 3) - #{$gutter-width});
}

@mixin show-card-color($color: $brand-primary) {
  $color-dark: darken($color, 12%);
  
  @include border($color);
  
  &:hover {
    box-shadow: 0 0 12px 0 rgba($color-dark, .8);
  }
    
  h2 a {
    color: $color;
    
    &:hover,
    &:focus {
      color: $color-dark;
    }
  }
}

@mixin show-card($color: $brand-primary) {
  @include show-card-base();
  @include show-card-color();
}


.tr-show-card {
  @include show-card();
  
  &.nt-live {@include show-card-color($yellow)}
  &.wild-card {@include show-card-color($purple)}
  &.bloody-sunday {@include show-card-color($red)}
}

.tr-show-card-overlay {
  line-height: 1.4;
  
  padding: ($gutter-width / 2) 0;
  
  align-items: center;
  display: flex;
  justify-content: space-around;
  
  header {
    flex: 1;
  }
  
  h2,
  h5 {
    margin: 0;
  }
  
  a {
    margin: 0 ($gutter-width / 2);
    flex: 0 0 auto;
  }
}

// ALTERNATE DISPLAYS
// - - - - - - - - - - - - -

// SMALL

@media #{$small-only} {
  .tr-show-card {
    margin: $gutter-width / 2;
    
		flex: 0 1 100%;
  }
}

// MEDIUM

@media #{$medium-only} {
	.tr-show-card {
		flex-basis: calc((100% / 2) - #{$gutter-width});
		
		&:last-child {
  		display: none;
		}
	}
}

// LARGE-UP

@media #{$large-up} {
}
