// SHOW CARDS
// - - - - - - - - - - - - -

.tr-show-card {
  @include border($side: top);
  @include border();
  text-align: center;
  
  margin: 0 ($gutter-width / 2);
  min-width: rem-calc(300);
  
  flex: 0 0 calc((100% / 3) - #{$gutter-width});
  
  &.nt-live {
    @include border($yellow, top);
    @include border($yellow);
    
    h2 a {
      color: $yellow;
      
      &:hover,
      &:focus {
        color: darken($yellow, 12%);
      }
    }
  }
  
  &.wild-card {
    @include border($purple, top);
    @include border($purple);
    
    h2 a {
      color: $purple;
      
      &:hover,
      &:focus {
        color: darken($purple, 12%);
      }
    }
  }
  
  &.bloody-sunday {
    @include border($red, top);
    @include border($red);
    
    h2 a {
      color: $red;
      
      &:hover,
      &:focus {
        color: darken($red, 12%);
      }
    }
  }
}

.tr-show-card-overlay {
  line-height: 1.4;
  
  padding: ($gutter-width / 2) 0;
  
  align-items: center;
  display: flex;
  justify-content: space-between;
  
  header {
    flex: 1;
  }
  
  h2,
  h5 {
    margin: 0;
  }
  
  a {
    flex: 0 0 auto;
  }
}

// ALTERNATE DISPLAYS
// - - - - - - - - - - - - -

// SMALL

@media #{$small-only} {
  .tr-show-card {
    margin: $gutter-width / 2;
    
		flex: 0 1 100%;
  }
}

// MEDIUM

@media #{$medium-only} {
	.tr-show-card {
		flex-basis: calc((100% / 2) - #{$gutter-width});
	}
}

// LARGE-UP

@media #{$large-up} {
}
