.site-header {
	background: $white;
	border-bottom: rem-calc(8) solid $orange;
	
	.title-area {
  	h1 {
    	line-height: 1;
    	a {
      	padding: 0;
    		#thirdRailLogo {
    			@include single-transition(all);
          max-width: rem-calc(276);
    			vertical-align: text-bottom;
    			width: 100%;
    			&:hover {transform: scale(1.15)}
    			.third, .rail {fill: $black-light}
    			.lightning-bolt {fill: $orange} 
    		}
    	}
  	}
	}
	
	.top-bar-section {
  	.top-bar-menu {
    	li {
      	&:last-child {
        	background: $topbar-bg-color;
        	a {
          	border: 1px solid $black-light;
          	line-height: 2.8;
          	margin-top: rem-calc(26);
        	}
        }
      	a {
    			@include single-transition(all);
        	@media #{$medium-only} {
          	padding: rem-calc(0 18);
        	}
      	}
    	}
  	}
	}
}