.site-body {
  width: 100%;
  @include clearfix();
}

.page-header {
	background-color: $black-light;
	border-color: $orange;
	border-style: solid;
	border-width: rem-calc(0 0 8 0);
	width: 100%;
	@media #{$small-only} {
		#svgHeader {display: none}
	}
	@media #{$medium-only} {
		.info-section {@include grid-column(4)}
		.graphic-section {@include grid-column(8)}
	}
	@media #{$large-up} {
		.info-section {@include grid-column(5)}
		.graphic-section {@include grid-column(7)}
	}
	
	&:hover {
		.graphic-section {
			#thirdRailMembership {
				.lightning-bolt {transform: translateY(10rem)}
				.membership {transform: scale(1.1) translate(-5rem, -7rem)}
			}
			#ntLive {
				#gradient stop.bottom {stop-color: rgba($orange, 1)}
			}
			#or {
				.feather {transform: translateX(-4rem)}
				.sword {transform: translateX(4rem)}
			}
			#theRealisticJoneses {
				.board {transform: rotate(90deg) translateX(-15rem) translateY(-160rem)}
			}
			#mrKolpert {
				.man {transform: rotate(20deg) translateX(4rem)}
				.banana {transform: rotate(5deg) translateX(6rem) translateY(-10rem)}
			}
			#theNewElectricBallroom {
				.shoe {transform: rotate(5deg) translateX(5rem) translateY(-5rem)}
			}
		}
	}
	
	.info-section {
  	display: table;
		.content {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			h1, h2, h3, h4, h5, h6, p {color: $white}
			h2 {font-size: rem-calc(40)}
		}
	}
	
	.graphic-section {
		svg {width: 100%}
		#thirdRailMembership {
			.third-rail, .membership {fill: $white}
			.lightning-bolt {fill: $orange}
			.membership, .lightning-bolt {@include single-transition(all)}
		}
		#ntLive {
			.national, .theatre {fill: $white}
			.live {fill: url(#gradient)}
			#gradient {
  			stop {
    			stop-color: $white;
    			@include single-transition(all);
  			}
  		}
		}
		#or {
			.feather, .hilt {fill: $white}
			.blade {fill: $orange}
			.feather, .sword {@include single-transition(all)}
		}
		#theRealisticJoneses {
  		.fence {fill: $white}
  		.board {
    		@include single-transition(all);
    		fill: $orange;
  		}
		}
		#mrKolpert {
			.head, .banana, .cliff {fill: $white}
			.man {fill: $orange}
			.man, .banana {@include single-transition(all)}
		}
		#theNewElectricBallroom {
			.shoe-inside, .heel, .shadow {fill: $white}
			.shoe-outside {fill: $orange}
			.shoe {@include single-transition(all)}
		}
	}
}

.page-banner,
.page-home-secondary,
.page-content-area {
	padding: rem-calc(24 0);
	width: 100%;
	@include clearfix();
}

.on-stage-shows,
.director-playwright {
  margin: rem-calc(0 -12);
  padding: rem-calc(0);
  @include clearfix();
}

.page-banner {background-color: $gray-light}

.page-home-secondary {background-color: $orange}

.page-content-area {background-color: $white}

.section-title {
	border-bottom: rem-calc(8) solid $black-light;
	font-size: rem-calc(24);
	font-weight: $font-weight-normal;
	margin-bottom: 0;
	text-transform: uppercase;
}

@media #{$small-up} {
	.home-current-shows,
	.home-current-news,
	.home-current-calendar,
	.home-membership,
  	.home-current-media,
	.home-donate,
	.home-company-member, {
		@include grid-column(12);
		article {
  		@include clearfix();
  		background-color: $white;
  		padding: rem-calc(6);
		}
  }
	.show-dates,
	.show-times,
	.show-venue,
	.show-cost {
  	@include grid-column(6);
  	text-align: center;
	}
	.show-main,
	.page-main,
	.page-main-full,
	.page-sidebar,
	.show-sidebar {
  	@include grid-column(12);
	}
}

@media #{$medium-only} {
	.page-sidebar,
	.show-sidebar {
  	@include grid-column(5);
	}
	.home-current-news,
	.home-current-calendar,
	.home-membership,
	.home-current-media,
	.home-donate,
	.home-company-member,
	.on-stage-show-type {
		@include grid-column(6);
	}
	.show-main,
	.page-main {
  	@include grid-column(7);
	}
}


@media #{$large-up} {
	.home-current-media,
	.show-dates,
	.show-times,
	.show-venue,
	.show-cost,
	.home-membership,
	.home-donate,
	.home-company-member {
		@include grid-column(3);
	}
	.home-current-shows,
	.home-current-news,
	.home-current-calendar,
	.on-stage-show-type,
	.page-sidebar,
	.show-sidebar {
		@include grid-column(4);
	}
	.show-main,
	.page-main {
  	@include grid-column(8);
	}
}

.home-slider-controls {
  position: absolute;
  right: rem-calc(8);
  top: rem-calc(2);
  i {
    cursor: pointer;
    padding: rem-calc(2 4);
    @include single-transition(all);
  }
}

.home-current-shows,
.on-stage-show-type {
  position: relative;
	.entry-header {
		@include clearfix();
		.entry-title {
			display: inline-block;
		}
		.buy-link {
			@include button($button-med, $green);
			float: right;
			margin-bottom: 0;
		}
	}
	.thumbnail-link {
	}
}

.home-current-news,
.home-company-member {
	.entry-header {
		@include clearfix();
		.entry-title {
			display: inline-block;
		}
    .read-more-link {
  		@include button($button-med);
  		float: right;
  		margin-bottom: 0;
    }
	}
	.post-category {
		position: relative;
		text-align: center;
		z-index: 1;
	  &:before {
      border-top: 1px solid $gray-light;
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 100%;
      z-index: -1;
	  }
		a {
			background-color: $white;
			color: $black-light;
			cursor: default;
			display: inline-block;
			font-weight: $font-weight-light;
			padding: rem-calc(0 6);
		}
	}
	.entry-content {
  	margin-bottom: rem-calc(4);
  	max-height: rem-calc(320);
  	overflow: hidden;
  	p {text-overflow: ellipsis;}
	}
}

.home-current-media {
  position: relative;
  .entry-content {
    @include flex-video-container();
  }
}

.type-post.format-video {
  position: relative;
  .media-container {@include flex-video-container()}
}
