.type-post {
  &.format-gallery {
    .entry-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .th {margin-bottom: rem-calc(8)}
    }
  }
  
  &.format-video {
    position: relative;
    .media-container, .embed-youtube {@include flex-video-container()}
  }
}
