.widget {
  padding-bottom: rem-calc(8);
  
  p {
    color: $gray-dark;
    font-size: rem-calc(13);
  }
  h4 {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(8)
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: rem-calc(6) 0;
    }
  }
  
  hr {
    margin-top: 0;
    border-color: $gray-light;
    border-width: rem-calc(2 0 0);
  }
  
  &.widget_search {
    #searchform {margin-top: rem-calc(16)}
  }
  
  &.widget_archive,
  &.widget_categories {
    ul li {
      @include clearfix();
      color: $gray;
      font-size: rem-calc(13);
      text-align: right;
      a {
        float: left;
        font-size: rem-calc(15);
        text-transform: uppercase;
      }
    }
  }
}
