.page-header {
	background-color: $black-light;
	border-color: $orange;
	border-style: solid;
	border-width: rem-calc(8 0);
	width: 100%;
	@media #{$small-only} {
		.info-section {@include grid-column(12)}
		.graphic-section {@include grid-column(12)}
	}
	@media #{$medium-only} {
		.info-section {@include grid-column(4)}
		.graphic-section {@include grid-column(8)}
	}
	@media #{$large-up} {
		.info-section {@include grid-column(5)}
		.graphic-section {@include grid-column(7)}
	}
	
	&:hover {
		.graphic-section {
			#thirdRailMembership {
				.lightning-bolt {transform: translateY(10rem)}
				.membership {transform: scale(1.1) translate(-5rem, -7rem)}
			}
			#ntLive {
				#gradient stop.bottom {stop-color: rgba($orange, 1)}
			}
			#or {
				.feather {transform: translateX(-4rem)}
				.sword {transform: translateX(4rem)}
			}
			#mrKolpert {
				.man {transform: rotate(20deg) translateX(4rem)}
				.banana {transform: rotate(5deg) translateX(6rem) translateY(-10rem)}
			}
			#theNewElectricBallroom {
				.shoe {transform: rotate(5deg) translateX(5rem) translateY(-5rem)}
			}
		}
	}
	
	.info-section {
  	display: table;
		.content {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			h1, h2, h3, h4, h5, h6, p {color: $white}
			h2 {font-size: rem-calc(40)}
		}
	}
	
	.graphic-section {
		svg {width: 100%}
		#thirdRailMembership {
			.third-rail, .membership {fill: $white}
			.lightning-bolt {fill: $orange}
			.membership, .lightning-bolt {@include single-transition(all)}
		}
		#ntLive {
			.national, .theatre {fill: $white}
			.live {fill: url(#gradient)}
			#gradient {
  			stop {
    			stop-color: $white;
    			@include single-transition(all);
  			}
  		}
		}
		#or {
			.feather, .hilt {fill: $white}
			.blade {fill: $orange}
			.feather, .sword {@include single-transition(all)}
		}
		#mrKolpert {
			.head, .banana, .cliff {fill: $white}
			.man {fill: $orange}
			.man, .banana {@include single-transition(all)}
		}
		#theNewElectricBallroom {
			.shoe-inside, .heel, .shadow {fill: $white}
			.shoe-outside {fill: $orange}
			.shoe {@include single-transition(all)}
		}
	}
}

.page-banner, .page-home-secondary, .page-content-area {
	padding: rem-calc(24 0);
	width: 100%;
	@include clearfix();
}

.page-banner {background-color: $gray-light}

.page-home-secondary {background-color: $orange}

.page-content-area {background-color: $white}

.section-title {
	border-bottom: rem-calc(8) solid $black-light;
	font-size: rem-calc(24);
	font-weight: $font-weight-normal;
	margin-bottom: 0;
	text-transform: uppercase;
}

@media #{$small-up} {
	.current-shows,
	.current-news,
	.current-calendar,
	.home-membership,
	.current-media,
	.home-donate,
	.home-company-member, {
		@include grid-column(12);
		article {
  		@include clearfix();
  		background-color: $white;
  		padding: rem-calc(6);
		}
  }
	.show-dates,
	.show-times,
	.show-venue,
	.show-cost {
  	@include grid-column(6);
  	text-align: center;
	}
	.show-main {
  	@include grid-column(12);
	}
}

@media #{$medium-only} {
	.current-news, .current-calendar, .home-membership, .current-media, .home-donate, .home-company-member {
		@include grid-column(6);
	}
	.show-main {
  	@include grid-column(7);
	}
}


@media #{$large-up} {
	.current-shows {
		@include grid-column(5);
	}
	.current-news,
	.show-dates,
	.show-times,
	.show-venue,
	.show-cost {
		@include grid-column(3);
	}
	.current-calendar {
		@include grid-column(4);
	}
	.home-membership, .current-media, .home-donate, .home-company-member {
  	@include grid-column(3);
	}
  .current-shows, .current-news, .current-calendar {
		article {min-height: rem-calc(450)}
	}
	.show-main {
  	@include grid-column(8);
	}
}

.home-slider-controls {
  position: absolute;
  right: rem-calc(8);
  top: rem-calc(2);
  i {
    cursor: pointer;
    padding: rem-calc(2 4);
    @include single-transition(all);
  }
}

.current-shows {
  position: relative;
	.entry-header {
		@include clearfix();
		.entry-title {
			display: inline-block;
		}
		.buy-link {
			@include button($button-med, $green);
			float: right;
			margin-bottom: 0;
		}
	}
	.thumbnail-link {
		max-width: 60%;
	}
}

.current-news {
	.post-category {
		position: relative;
		text-align: center;
		z-index: 1;
	  &:before {
      border-top: 1px solid $gray-light;
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 100%;
      z-index: -1;
	  }
		a {
			background-color: $white;
			color: $black-light;
			cursor: default;
			display: inline-block;
			font-weight: $font-weight-light;
			padding: rem-calc(0 6);
		}
	}
	.entry-summary {
  	margin-bottom: rem-calc(4);
  	max-height: rem-calc(310);
  	overflow: scroll;
	}
}

.current-media {
  position: relative;
  .entry-content {
    @include flex-video-container();
  }
}

.show-main {
  .playwright, .director {@include grid-column(6)}
}

.thumbnail-link {
	border: rem-calc(4) solid $white;
	box-shadow: 0 0 0 1px rgba($black, 0.2);
	display: inline-block;
	float: right;
	max-width: 60%;
	margin: rem-calc(0 0 4 8);
	@include single-transition(all);
	&:hover {
		box-shadow: 0 0 6px 1px rgba($orange, 0.5);
	}
}
